<template>
    <div>
        <div class="cloud">
            <h2>
                Все соискатели
            </h2>
            <div class="bot-controls">
                <div class="btn-group">
                    <a href="#" class="btn btn-primary btn-sm" @click="openModal('botEditTextModal')">Изменить тексты</a>
                    <a href="#" class="btn btn-warning btn-sm" @click="openModal('botEditColumnsModal')">Изменить столбцы</a>
                    <nuxt-link :to="'/analytics/'+bot._id" class="btn btn-primary btn-sm">Аналитика</nuxt-link>
                </div>
            </div>
            <div class="filter">
                <div class="filter__title">
                    Фильтр
                </div>
                <form action="" class="form-inline">
                    <div class="form-group" v-if="column.variants && options[column.key]" v-for="column in bot.columns" :key="column.key">
                        <label>{{ column.name }}</label>
                        <select @change="filterUpdate()" v-if="options[column.key]" v-model="answers[column.key]" id="" class="form-control">
                            <option value="" selected>{{ column.name }}</option>
                            <option v-for="(count, option) in options[column.key]" :key="option" :value="option">{{ option }} ({{ count }})</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="search">
                <input type="text" v-model="query" placeholder="Поиск" class="form-control">
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th :class="{'active': (currentSort=='createdon')}" @click="sort('createdon')">
                            Информация
                        </th>
                        <th v-for="column in bot.columns" :key="column.key" :class="{'active': (currentSort=='answers.'+column.key)}" @click="sort('answers.'+column.key)">{{ column.name }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(chat, chatindex) in sortedCats" :key="chat._id">
                        <td @click="openChat(chat._id)">
                            <div class="chat-meta">
                                <div class="chat-photo"><span class="unique-dot" v-if="chat.unique === false"></span></div>
                                <div class="chat-text">
                                    <div class="chat-name">
                                        {{ chat.name }}
                                    </div>
                                    <div class="chat-date">
                                        {{ $moment(new Date(chat.createdon)).format("DD.MM.YYYY, HH:mm") }}
                                    </div>
                                </div>
                            </div>
                            <div class="chat-emoji" style="display: none;" v-if="chat.emoji.length">
                                <table>
                                    <tr>
                                        <td>{{ chat.emoji[0] }}</td>
                                        <td>{{ chat.emoji[1] }}</td>
                                        <td>{{ chat.emoji[2] }}</td>
                                        <td>{{ chat.emoji[3] }}</td>
                                        <td>{{ chat.emoji[4] }}</td>
                                        <td>{{ chat.emoji[5] }}</td>
                                        <td>{{ chat.emoji[6] }}</td>
                                        <td>{{ chat.emoji[7] }}</td>
                                        <td>{{ chat.emoji[8] }}</td>
                                        <td>{{ chat.emoji[9] }}</td>
                                        <td>{{ chat.emoji[11] }}</td>
                                        <td>{{ chat.emoji[12] }}</td>
                                        <td>{{ chat.emoji[13] }}</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                        <td>8</td>
                                        <td>9</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">Дни 1 недели</td>
                                        <td colspan="8">Недели</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td v-for="column in bot.columns" :key="column.key">
                            <div v-if="chat.answers">
                                <div v-if="column.key == 'video' && chat.answers.video" class="play-video" data-fancybox :href="chat.answers.video"><span class="lnr lnr-camera-video"></span></div>
                                <span v-else>
                                    <div v-if="column.editable">
                                        <select v-if="column.variants" @change="updateChat(chat._id, column.key, $event)">
                                            <option value=""></option>
                                            <option v-for="(variant, index) in column.variants.split('|')" :key="index" :value="variant" :selected="variant == chats[chatindex].answers[column.key] ? true : false">{{ variant }}</option>
                                        </select>
                                        <input v-else type="text" @change="updateChat(chat._id, column.key, $event)" :value="chats[chatindex].answers[column.key]">
                                    </div>
                                    <div v-else>
                                        {{ chats[chatindex].answers[column.key] }}
                                    </div>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <b-modal id="botEditTextModal" hide-footer title="Изменить тексты бота">
            <div class="row">
                <div class="col-md-6">
                    <b>Ключ</b>
                </div>
                <div class="col-md-6">
                    <b>Значение</b>
                </div>
            </div>
            <div class="texts-control">
                <button class="btn btn-sm btn-primary" @click="addText" v-if="$auth.user.email == 'grishajoi@gmail.com' || $auth.user.email == 'info@raz--dva--tri.ru'">Добавить</button>
            </div>
            <div class="texts-status">
                {{ textsStatus }}
            </div>
            <div class="row" v-for="text in texts" :key="text._id">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" @change="textUpdate(text._id, text.key, text.value, text.index)" v-model="text.key" placeholder="Ключ" class="form-control">
                    </div>
                    <div class="form-group" v-if="$auth.user.email == 'grishajoi@gmail.com'">
                        <input type="text" @change="textUpdate(text._id, text.key, text.value, text.index)" v-model="text.index" placeholder="Порядок" class="form-control">
                    </div>
                    <div class="form-group" v-if="$auth.user.email == 'grishajoi@gmail.com'">
                        <button class="btn btn-danger btn-sm" @click="deleteText(text._id)">Удалить</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea type="text" v-model="text.value" @change="textUpdate(text._id, text.key, text.value, text.index)" placeholder="Значение" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </b-modal>
        <b-modal id="botEditColumnsModal" hide-footer title="Изменить столбцы">
            <div class="texts-control">
                <button class="btn btn-sm btn-primary" @click="addColumn">Добавить столбец</button>
            </div>
            <div class="texts-status">
                {{ botStatus }}
            </div>
            <div class="columns-list">
                <div class="column-item" v-for="(column, id) in bot.columns" :key="id">
                    <div class="column-sort">
                        <div class="column-sort__up">
                            <span class="lnr lnr-chevron-up" v-if="id > 0" @click="columnMove(id, id-1)"></span>
                        </div>
                        <div class="column-sort__down">
                            <span class="lnr lnr-chevron-down" v-if="id < (bot.columns.length-1)" @click="columnMove(id, id+1)"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Ключ</label>
                        <input type="text" v-model="column.key" @change="updateBot()" placeholder="Ключ столбца латиницей" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Название</label>
                        <input type="text" v-model="column.name" @change="updateBot()" placeholder="Название столбца" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Варианты</label>
                        <input type="text" v-model="column.variants" @change="updateBot()" placeholder="Возможные варианты через |" class="form-control">
                    </div>
                    <div class="form-group" v-if="$auth.user.email == 'info@raz--dva--tri.ru' || $auth.user.email == 'grishajoi@gmail.com'">
                        <div class="form-check">
                            <input type="checkbox" v-model="column.editable" class="form-check-input" @change="updateBot()">
                            <label class="form-check-label">Можно редактировать</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-sm btn-danger" @click="removeColumn(id)">Удалить</button>
                    </div>
                </div>
            </div>
        </b-modal>
    </div>
</template>
<script>
export default {
    asyncData({ params }) {
      const botId = params.botid // When calling /abc the slug will be "abc"
      return { botId }
    },
    data() {
        return {
            chats: [],
            options: [],
            answers: {
            },
            currentSort:'createdon',
            currentSortDir:'desc',
            query: '',
            texts: [],
            textsStatus: "",
            bot: {},
            botStatus: "",
            graphs: [],
            totalChartData: {
                labels: [
                'Зашедшие в бот',
                'Прошедшие его'
                ],
                datasets: [{
                    data: [0, 0],
                    backgroundColor: ["#29cc97", "#cc7029"]
                }]
            },
            ChartOptions: {
                responsive: true,
                legend: {
                display: true
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                },
                title: {
                display: false,
                text: 'Количество прошедших бот',
                fontSize: 24,
                fontColor: '#6b7280'
                },
                tooltips: {
                backgroundColor: '#17BF62'
                },
                plugins: {
                    datalabels: {
                        formatter: (value, ctx) => {
                            let sum = 0;
                            var dataArr = ctx.chart.data.datasets[0].data;
                            dataArr.map(data => {
                                sum += data;
                            });
                            var percentage = (value*100 / sum).toFixed(2)+"% "+"("+value+")";
                            return percentage;
                        },
                        color: '#fff',
                    }
                }
            }
        }
    },
    created() {
        this.$store.commit('setTitle', 'Список соискателей');
    },
    mounted() {
    console.log('PREV URL ', window.history.state.prevUrl);
    console.log(this.$route.path);
    /*
    window.history.replaceState(
                        {},
                        null
                    );
                    */
      this.getBot();
      this.getChats();
      this.getOptions();
      this.getTexts();
    },
    watch: {
        query() {
            this.filterUpdate();
        },
        chartData () {
            console.log('chart IS updated');
            this.$data._chart.update()
        }
    },
    computed: {
        sortedCats() {
            var chats = this.chats;

            if (chats.length > 0) {
                return chats.sort((a, b) => {
                let modifier = 1;
                if (this.currentSortDir === 'desc') {
                    modifier = -1;
                }
                var aValue = a[this.currentSort];
                var bValue = b[this.currentSort];
                console.log('CURRENT SORT', this.currentSort);
                if (this.currentSort.includes('.')) {
                    var sortParam = this.currentSort.split('.');
                    console.log(sortParam);
                    aValue = a[sortParam[0]][sortParam[1]];
                    bValue = b[sortParam[0]][sortParam[1]];
                }

                if (aValue < bValue) {
                    return -1 * modifier;
                }
                if (aValue > bValue) {
                    return 1 * modifier;
                }
                return 0;
                });
            } else {
                return chats;
            }
        }
    },
    head() {
      return {
            title: "Список прошедших бота",
        }
    },
    methods: {
        columnMove(id, move) {
            console.log(id, move);

            if (move >= this.bot.columns.length) {
                var k = move - this.bot.columns.length + 1;
                while (k--) {
                    this.bot.columns.push(undefined);
                }
            }
            this.bot.columns.splice(move, 0, this.bot.columns.splice(id, 1)[0]);
            this.updateBot();
        },
        updateChat(id, key, event) {
            this.$axios.post('/api/chat/update', {id, key, value: event.target.value})
            .then((response) => {
                if (response.data.success) {
                    console.log('updated');
                }
            })
        },
        getBot() {
            this.$axios.get('/api/bot/get?id='+this.botId)
            .then((response) => {
                if (response.data.success) {
                    this.bot = response.data.result;
                    this.bot.columns.forEach((el) => {
                        this.answers[el.key] = "";
                    })
                }
            })
        },
        updateBot() {
            this.botStatus = "Сохранение изменений...";
            this.$axios.post('/api/bot/update', this.bot)
            .then((response) => {
                if (response.data.success) {
                    // this.bot = response.data.result;

                    this.botStatus = "Все изменения сохранены";
                }
            })
        },
        addColumn() {
            this.bot.columns.push({
                'key': "",
                'variants': "",
                'name': ""
            })
        },
        removeColumn(id) {
            this.bot.columns.splice(id, 1);
            this.updateBot();
        },
        stopPropagation(e) {
            e.stopPropagation();
        },
        openModal(modal) {
            this.$root.$emit("bv::show::modal", modal);
        },
        async checkUnique(chatId) {
            var response = await this.$axios.get('/api/chat/unique/'+chatId);
            return response.data.result;
        },
        getChats() {
            function getDaysInMonth(month, year) {
                var date = new Date(year, month, 1);
                var days = [];
                while (date.getMonth() === month) {
                    days.push(new Date(date));
                    date.setDate(date.getDate() + 1);
                }
                return days;
            }
            this.$axios.get('/api/chat/list/'+this.botId)
            .then((response) => {
                if (response.data.success) {
                    var model = this;
                    this.chats = response.data.result;
                    /*
                    for (let index = 0; index < response.data.result.length; index++) {
                        const element = response.data.result[index];
                        var isUnique = await model.checkUnique(element._id);
                        console.log(element._id, isUnique);
                        if (!response.data.result[index].answers) {
                            response.data.result[index].answers = {};
                        }
                        response.data.result[index].unique = isUnique;
                    }
                    console.log('CHATS AFTER CHECK', response.data.result);
                    */
                    this.chats = response.data.result;
                    var middleCount = 0;
                    var doneCount = 0;
                    var hrs = {};
                    var departments = {};
                    var dates = {};
                    var endDates = {};
                    var statuses = {};
                    var today = new Date();
                    var todayMonth = today.getMonth();
                    var todayYear = today.getFullYear();
                    var todayDay = today.getDate();

                    var moodsList = {};

                    this.chats.forEach((el) => {
                        if (el.mood) {
                            for (var mood in el.mood) {
                                if (!moodsList[mood]) {
                                    moodsList[mood] = {};
                                }

                                if (!moodsList[mood][el.mood[mood]]) {
                                    moodsList[mood][el.mood[mood]] = 0;
                                }
                                moodsList[mood][el.mood[mood]]++;
                            }
                        }


                        var date = new Date(el.createdon);
                        var mm = date.getMonth() + 1;
                        var dd = date.getDate();

                        var dateLabel = [
                                dd,
                                mm
                                ].join('.');

                        if (!dates[dateLabel]) {
                            dates[dateLabel] = {'total': 0, 'done': 0}
                        }

                        dates[dateLabel].total++;
                        if (el.enddate) {
                            var endDate = new Date(el.enddate);
                            var endDatemm = endDate.getMonth() + 1;
                            var endDatedd = endDate.getDate();

                            var endDateLabel = [
                                    endDatedd,
                                    endDatemm
                                    ].join('.');

                            if (!endDates[endDateLabel]) {
                                endDates[endDateLabel] = {'total': 0, 'done': 0}
                            }

                            endDates[endDateLabel].total++;
                        }

                        if (el.answers.hr) {
                            if (!hrs[el.answers.hr]) {
                                hrs[el.answers.hr] = {'total': 0, 'done': 0}
                            }

                            hrs[el.answers.hr].total++;
                        }
                        if (el.answers.department) {
                            if (!departments[el.answers.department]) {
                                departments[el.answers.department] = {'total': 0, 'done': 0}
                            }

                            departments[el.answers.department].total++;
                        }
                        if (!statuses[el.answers.status]) {
                            statuses[el.answers.status] = 0
                        }

                        statuses[el.answers.status]++;

                        if (Object.keys(el.answers).length >= this.bot.columns.length - 2) {
                            doneCount++;
                            if (el.answers.hr) {
                                hrs[el.answers.hr].done++;
                            }
                            if (el.answers.department) {
                                departments[el.answers.department].done++;
                            }
                        }
                    })

                    var statusesValues = [];
                    var statusesList = Object.keys(statuses);

                    statusesList.forEach((status, i) => {
                        // statusesList[i] = [status];
                        statusesValues.push(statuses[status])
                    })

                    var statusesData = {
                        labels: statusesList,
                            datasets: [{
                            label: "Собеседников",
                            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                            data: statusesValues
                            }]
                    }

                    console.log(statusesData);

                    if (this.bot.type === "podbor") {
                        this.graphs.push({data: statusesData, title: "Воронка найма", type: 'bar'});
                    }

                    var datesList = [];
                    var datesArr = Object.keys(dates);
                    var datesValuesNew = [];
                    var datesValuesDone = [];
                    var daysInMonth = getDaysInMonth(todayMonth, todayYear);

                    daysInMonth.forEach((day) => {
                        datesList.push((day.getDate())+"."+(day.getMonth()+1))
                    })

                    console.log(daysInMonth);

                    datesList.forEach((date, i) => {
                        console.log(date, dates[date], endDates[date]);
                        if (dates[date]) {
                            datesValuesNew.push(dates[date].total)
                        } else {
                            datesValuesNew.push(0);
                        }
                        if (endDates[date]) {
                            datesValuesDone.push(endDates[date].total)
                        } else {
                            datesValuesDone.push(0);
                        }
                    })
                        var datesData = {
                            labels: datesList,
                            datasets: [{
                                data: datesValuesNew,
                                label: "Новых",
                                backgroundColor: "#8e5ea2"
                            },
                            {
                                data: datesValuesDone,
                                label: "Завершивших",
                                backgroundColor: "#3e95cd"
                            }]
                        }
                        this.graphs.push({data: datesData, title: "Количество пользователей в разрезе каждого дня", type: 'bar'});

                    var updatedData = this.totalChartData;

                    updatedData.datasets[0].data[0] = this.chats.length;
                    updatedData.datasets[0].data[1] = doneCount;

                    this.graphs.push({data: updatedData, title: 'Количество прошедших бота', type: 'pie'});
                    for (var hr in hrs) {
                        var hrsData = {
                            labels: [
                                'Непрошедшие адаптацию', 'Прошедшие адаптацию'
                            ],
                            datasets: [{
                                data: [(hrs[hr].total - hrs[hr].done), hrs[hr].done],
                                backgroundColor: ["#29cc97", "#cc7029", "#2f29cc"]
                            }]
                        }
                        this.graphs.push({data: hrsData, title: hr, type: 'pie'});
                    }

                    for (var department in departments) {
                        var departmentData = {
                            labels: [
                                'Непрошедшие адаптацию', 'Прошедшие адаптацию'
                            ],
                            datasets: [{
                                data: [(departments[department].total - departments[department].done), departments[department].done],
                                backgroundColor: ["#29cc97", "#cc7029", "#2f29cc"]
                            }]
                        }
                        this.graphs.push({data: departmentData, title: department, type: 'pie'});
                    }

                    console.log('MOODS', moodsList);

                    var moodPeriods = [];
                    var moodValues = [];
                    var moodColors = ["#ffc200", "#1ebb4a", "#bb1e1e"]
                    var moodData = {};
                    var moodSet = [];

                    if (moodsList) {
                        for (var period in moodsList) {
                            moodPeriods.push(period);
                            for (var moodValue in moodsList[period]) {
                                if (!moodValues.includes(moodValue)) {
                                    moodValues.push(moodValue);
                                }
                            }
                        }

                        moodPeriods.forEach((period) => {
                            moodValues.forEach((mood) => {
                                if (!moodData[mood]) {
                                    moodData[mood] = []
                                }
                                if (moodsList[period][mood]) {
                                    moodData[mood].push(moodsList[period][mood]);
                                } else {
                                    moodData[mood].push(0);
                                }
                            })
                        })
                        var cI = 0;
                        for (var mood in moodData) {
                            moodSet.push({
                                label: mood,
                                data: moodData[mood],
                                backgroundColor: moodColors[cI]
                            })
                            cI++;
                        }

                        console.log(moodData);

                        this.graphs.push({
                            data: {
                            labels: moodPeriods,
                            datasets: moodSet
                        },
                        title: "Обратная связь",
                        type: 'bar'
                        });
                    }
                }
            })
        },
        openChat(chatId) {
          this.$router.push({ path: '/chat/'+chatId });
        },
        sort(s) {
            // if s == current sort, reverse
            if(s === this.currentSort) {
                this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
            }
            this.currentSort = s;
        },
        filterUpdate() {
            var filter = {};
            for (var param in this.answers) {
                if (this.answers[param].length) {
                    filter['answers.'+param] = this.answers[param];
                }
            }

            filter.query = this.query;

            this.$axios.post('/api/filter/'+this.botId, filter)
            .then((response) => {
                if (response.data.success) {
                    this.chats = response.data.result;
                }
            })
        },
        getOptions() {
            this.$axios.get('/api/filter/values/'+this.botId)
            .then((response) => {
                if (response.data.success) {
                    this.options = response.data.result;
                    console.log(this.options);
                }
            })
        },
        getTexts() {
            this.$axios.get('/api/text/list?botId='+this.botId)
            .then((response) => {
                this.texts = response.data.result;
            })
        },
        addText() {
            this.$axios.post('/api/text/add', {'key': "", "value": "", "botId": this.botId})
            .then((response) => {
                this.texts.push(response.data.result);
            })
        },
        deleteText(id) {
            this.$axios.post('/api/text/delete', {id})
            .then((response) => {
                this.getTexts();
            })
        },
        textUpdate(id, key, value, index) {
            this.textsStatus = "Сохранение изменений...";
            this.$axios.post('/api/text/update', {id, key, value, index})
            .then((response) => {
                this.textsStatus = "Все изменения сохранены";
            })
        }
    }
}
</script>