<template>
    <div>
        <div class="cloud">
            <h2>
                Аналитика бота {{ bot.name }}
            </h2>
            <nuxt-link :to="'/bot/'+bot._id" class="btn btn-primary btn-sm">Вернуться к списку</nuxt-link>
            <br/>
            <br/>
            <div class="bot-stats__date">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="dateFrom">Дата от</label>
                            <input type="date" id="dateFrom" v-model="dateFrom" class="form-control" placeholder="Дата от">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="dateTo">Дата до</label>
                            <input type="date" id="dateTo" v-model="dateTo" class="form-control" placeholder="Дата до">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <a :href="'/analytics/'+bot._id+'?dateFrom='+dateFrom+'&dateTo='+dateTo" class="btn btn-primary btn-sm">Применить</a>
                            <a :href="'/api/chat/csv/'+bot._id+'?dateFrom='+dateFrom+'&dateTo='+dateTo" target="_blank" class="btn btn-primary btn-sm">Соискатели в Excel</a>
                            <a @click="graphsToPDF" href="#" class="btn btn-primary btn-sm">PDF графиков</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pdf-shot">
                <div class="bot-stats" v-for="(row, row_index) in graphs" :key="row_index">
                    <div class="graph-wrapp" v-for="(graph, index) in row" :key="index">
                        <div class="graph__title">{{ graph.title }}</div>
                        <pie-chart v-if="graph.type == 'pie'" :data="graph.data" :options="ChartOptionsPie" :height="200" :ref="'graph_'+index+'_'+row_index" />
                        <horizontal-bar v-else-if="graph.type == 'horizontal'" :data="graph.data" :options="ChartOptionsHorizontal" :height="200" />
                        <bar-chart v-else :data="graph.data" :options="ChartOptions" :height="200" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import jsPDF from 'jspdf';
import html2canvas from "html2canvas";

export default {
    asyncData({ params }) {
      const botId = params.botid // When calling /abc the slug will be "abc"
      return { botId }
    },
    head() {
      return {
            title: "Аналитика по боту",
        }
    },
    data() {
        return {
            chats: [],
            options: [],
            answers: {
            },
            currentSort:'createdon',
            currentSortDir:'desc',
            query: '',
            texts: [],
            textsStatus: "",
            bot: {},
            botStatus: "",
            dateFrom: "",
            dateTo: "",
            graphs: [[], [], [], [], [], []],
            totalChartData: {
                labels: [
                'Зашедшие в бот',
                'Прошедшие его'
                ],
                datasets: [{
                    data: [0, 0],
                    backgroundColor: ["#29cc97", "#cc7029"]
                }]
            },
            ChartOptionsHorizontal: {
                responsive: true,
                legend: {
                display: false
                },
                scales: {
                    xAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            precision: 0,
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            precision: 0,
                        }
                    }]
                },
                title: {
                display: false,
                text: 'Количество прошедших бот',
                fontSize: 24,
                fontColor: '#6b7280'
                },
                tooltips: {
                backgroundColor: '#17BF62'
                },
                plugins: {
                    datalabels: {
                        formatter: (value, ctx) => {
                            let sum = 0;
                            var dataArr = ctx.chart.data.datasets[0].data;
                            dataArr.map(data => {
                                sum += data;
                            });
                            var percentage = (value*100 / sum).toFixed(2)+"%";
                            return percentage;
                        },
                        color: '#fff',
                    }
                },
            },
            ChartOptions: {
                responsive: true,
                legend: {
                display: true
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            precision: 0,
                        }
                    }]
                },
                title: {
                display: false,
                text: 'Количество прошедших бот',
                fontSize: 24,
                fontColor: '#6b7280'
                },
                tooltips: {
                backgroundColor: '#17BF62'
                },
                plugins: {
                    datalabels: {
                        formatter: (value, ctx) => {
                            let sum = 0;
                            var dataArr = ctx.chart.data.datasets[0].data;
                            dataArr.map(data => {
                                sum += data;
                            });
                            var percentage = (value*100 / sum).toFixed(2)+"%";
                            return percentage;
                        },
                        color: '#fff',
                    }
                }
            },
            ChartOptionsPie: {
                responsive: true,
                legend: {
                    display: true
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display:false,
                        },
                        drawBorder: false,
                        ticks: {
                            beginAtZero: true,
                            display: false
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display:false,
                        },
                        drawBorder: false,
                        ticks: {
                            beginAtZero: true,
                            display: false
                        }
                    }]
                },
                title: {
                display: false,
                text: 'Количество прошедших бот',
                fontSize: 24,
                fontColor: '#6b7280'
                },
                tooltips: {
                    backgroundColor: '#17BF62',
                    callbacks: {
                        label(tooltipItem, data) {
                        // console.log(tooltipItem);
                        // get the concerned dataset
                        var dataset = data.datasets[tooltipItem.datasetIndex];
                        // calculate the total of this data set
                        var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                            return previousValue + currentValue;
                        });
                        // get the current items value
                        var currentValue = dataset.data[tooltipItem.index];
                        // calculate the precentage based on the total and current item, also this does a rough rounding to give a whole number
                        var percentage = Math.floor(((currentValue/total) * 100)+0.5);

                        return percentage + "% "+ "("+currentValue+")";
                        }
                    }
                },
                plugins: {
                    datalabels: {
                        formatter: (value, ctx) => {
                            let sum = 0;
                            var dataArr = ctx.chart.data.datasets[0].data;
                            dataArr.map(data => {
                                sum += data;
                            });
                            var percentage = (value*100 / sum).toFixed(2)+"% "+ "("+value+")";
                            return percentage;
                        },
                        color: '#fff',
                    }
                }
            }
        }
    },
    created() {
        this.$store.commit('setTitle', 'Список соискателей');
    },
    mounted() {
      if (this.$route.query) {
          this.dateFrom = this.$route.query.dateFrom || "";
          this.dateTo = this.$route.query.dateTo || "";
      }
      var self = this;
      window.resizeCharts = function() {
        return self.$refs;
      }
      window.updateGraphs = function() {
          self.graphs = [[], [], [], [], []];
          self.getChats();
      }
      this.getBot();
      this.getOptions();
      this.getTexts();
    },
    watch: {
        query() {
            this.filterUpdate();
        },
        chartData () {
            console.log('chart IS updated');
            this.$data._chart.update()
        },
        dateFrom() {
            // this.getChats();
        },
        dateTo() {
            // this.getChats();
        }
    },
    computed: {
        sortedCats() {
            var chats = this.chats;
            if (chats.length > 0) {
                return chats.sort((a, b) => {
                let modifier = 1;
                if (this.currentSortDir === 'desc') {
                    modifier = -1;
                }
                var aValue = a[this.currentSort];
                var bValue = b[this.currentSort];
                console.log('CURRENT SORT', this.currentSort);
                if (this.currentSort.includes('.')) {
                    var sortParam = this.currentSort.split('.');
                    console.log(sortParam);
                    aValue = a[sortParam[0]][sortParam[1]];
                    bValue = b[sortParam[0]][sortParam[1]];
                }

                if (aValue < bValue) {
                    return -1 * modifier;
                }
                if (aValue > bValue) {
                    return 1 * modifier;
                }
                return 0;
                });
            } else {
                return chats;
            }
        }
    },
    methods: {
        columnMove(id, move) {
            console.log(id, move);

            if (move >= this.bot.columns.length) {
                var k = move - this.bot.columns.length + 1;
                while (k--) {
                    this.bot.columns.push(undefined);
                }
            }
            this.bot.columns.splice(move, 0, this.bot.columns.splice(id, 1)[0]);
            this.updateBot();
        },
        updateChat(id, key, event) {
            this.$axios.post('/api/chat/update', {id, key, value: event.target.value})
            .then((response) => {
                if (response.data.success) {
                    console.log('updated');
                }
            })
        },
        async graphsToPDF() {
            // get size of report page
            var pdfShot = document.querySelector('.pdf-shot');

            var reportPageHeight = pdfShot.offsetHeight;
            var reportPageWidth = pdfShot.offsetWidth;

            // create a new canvas object that we will populate with all other canvas objects
            var pdfCanvas = document.createElement('canvas');

            pdfCanvas.id = "canvaspdf";

            console.log(reportPageWidth, reportPageHeight);

            pdfCanvas.width = reportPageWidth+200;
            pdfCanvas.height = reportPageHeight;

            // keep track canvas position
            var pdfctx = pdfCanvas.getContext('2d');
            var pdfctxX = 30;
            var pdfctxY = 30;
            var buffer = 100;

            // for each chart.js chart
            var graphs = document.querySelectorAll(".graph-wrapp");
            var index = 0;
            for (var el of graphs) {
                // get the chart height/width
                var canvasHeight = el.offsetHeight;
                var canvasWidth = el.offsetWidth;

                var shotCanvas = document.createElement('canvas');

                shotCanvas.width = canvasWidth;
                shotCanvas.height = canvasHeight;

                await html2canvas(el, {
                    canvas: shotCanvas,
                    dpi: 300,
                    width: canvasWidth,
                    height: canvasHeight,
                    scrollY: -window.scrollY
                }).then((canvas) => {
                    console.log(canvas);
                    // draw the chart into the new canvas
                    pdfctx.drawImage(canvas, 0, 0, canvasWidth, canvasHeight, pdfctxX, pdfctxY, canvasWidth, canvasHeight);
                    pdfctxX += canvasWidth + buffer;

                    // our report page is in a grid pattern so replicate that in the new canvas
                    if (index % 2 === 1) {
                    pdfctxX = 0;
                    pdfctxY += canvasHeight + buffer;
                    }
                })

                index++;
            }

            // create new pdf and add our new canvas as an image
            var pdf = new jsPDF('l', 'pt', [reportPageWidth, reportPageHeight]);
            console.log(pdfCanvas);
            pdf.addImage(pdfCanvas, 'PNG', 0, 0);

            // download the pdf
            pdf.save("analytic.pdf");
            /*
                const doc = new jsPDF();
                var pdfShot = document.querySelector('.pdf-shot');

                setTimeout(function() {
                    var canvasElement = document.createElement('canvas');
                    canvasElement.width = window.outerWidth;
                    canvasElement.height = window.outerHeight + window.innerHeight;
                    html2canvas(document.querySelector('.pdf-shot'), {
                        canvas: canvasElement,
                        width: 1200,
                        height: window.outerHeight + window.innerHeight,
                        windowHeight: window.outerHeight + window.innerHeight,
                        scrollY: -window.scrollY
                    }).then(function (canvas) {
                        console.log(canvasElement.width, canvasElement.height)

                        const img = canvas.toDataURL("image/jpeg", 1);

                        var pdfWidth = doc.internal.pageSize.getWidth();
                        var pdfHeight = doc.internal.pageSize.getHeight();

                        const imgProps = doc.getImageProperties(img);

                        const widthRatio = pdfWidth / imgProps.width;
                        const heightRatio = pdfHeight / imgProps.height;
                        const ratio = Math.min(widthRatio, heightRatio);

                        const w = (imgProps.width) * ratio * 2;
                        const h = imgProps.height * ratio * 2;

                        doc.addImage(img, 'JPEG', 20, 20, w, h);
                        doc.save("analytic.pdf");
                    });
                }, 1000)
            */
        },
        getBot() {
            this.$axios.get('/api/bot/get?id='+this.botId)
            .then((response) => {
                if (response.data.success) {
                    this.bot = response.data.result;
                    this.bot.columns.forEach((el) => {
                        this.answers[el.key] = "";
                    })
                    this.getChats();
                }
            })
        },
        updateBot() {
            this.botStatus = "Сохранение изменений...";
            this.$axios.post('/api/bot/update', this.bot)
            .then((response) => {
                if (response.data.success) {
                    // this.bot = response.data.result;

                    this.botStatus = "Все изменения сохранены";
                }
            })
        },
        addColumn() {
            this.bot.columns.push({
                'key': "",
                'variants': "",
                'name': ""
            })
        },
        removeColumn(id) {
            this.bot.columns.splice(id, 1);
        },
        stopPropagation(e) {
            e.stopPropagation();
        },
        openModal(modal) {
            this.$root.$emit("bv::show::modal", modal);
        },
        getChats() {
            function getDaysInMonth(month, year, dateFrom, dateTo) {
                var date = new Date(year, month, 1);
                var date2 = new Date(year, month, 1);
                if (dateFrom) {
                    date = new Date(dateFrom);
                    month = date.getMonth();
                }

                if (dateTo) {
                    date2 = new Date(dateTo);
                }

                var days = [];
                while (date.getMonth() === month || (date.getMonth() < date2.getMonth()) || (date.getMonth() <= date2.getMonth() && date.getDate() <= date2.getDate())) {
                    days.push(new Date(date));
                    date.setDate(date.getDate() + 1);
                }

                // console.log('DAYS IN MONTH', days, date);

                return days;
            }
            this.$axios.get('/api/chat/list/'+this.botId+'?dateFrom='+this.dateFrom+'&dateTo='+this.dateTo)
            .then((response) => {
                if (response.data.success) {
                    this.chats.splice(0);

                    this.chats = response.data.result;
                    var middleCount = 0;
                    var doneCount = 0;
                    var hrs = {};
                    var months = {};
                    var monthNames = ['Январь', 'Февраль', "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сенятбрь", "Октябрь", "Ноябрь", "Декабрь"];
                    var departments = {};
                    var dates = {};
                    var endDates = {};
                    var middleDates = {};
                    var statuses = {};
                    var today = new Date();
                    var todayMonth = today.getMonth();
                    var todayYear = today.getFullYear();
                    var todayDay = today.getDate();

                    this.graphs.splice(0);

                    this.graphs = [[], [], [], [], []];

                    var moodsList = {};
                    console.log('CHATS', this.chats);
                    console.log('graphs', this.graphs);

                    this.chats.forEach((el) => {
                        if (!el.answers) {
                            el.answers = {};
                        }
                        var filteredAnswers = el.answers;

                        for (var field in filteredAnswers) {
                            if (filteredAnswers[field].length < 1) {
                                delete filteredAnswers[field];
                            }
                        }

                        if (el.mood) {
                            for (var mood in el.mood) {
                                if (!moodsList[mood]) {
                                    moodsList[mood] = {};
                                }

                                if (!moodsList[mood][el.mood[mood]]) {
                                    moodsList[mood][el.mood[mood]] = 0;
                                }
                                moodsList[mood][el.mood[mood]]++;
                            }
                        }


                        var date = new Date(el.createdon);
                        var mm = date.getMonth() + 1;
                        var dd = date.getDate();
                        var monthName = monthNames[mm-1];

                        if (!months[monthName]) {
                            months[monthName] = {'total': 0, 'done': 0, 'middle': 0}
                        }

                        months[monthName].total++;

                        var dateLabel = [
                                dd,
                                mm
                                ].join('.');

                        if (!dates[dateLabel]) {
                            dates[dateLabel] = {'total': 0, 'done': 0}
                        }

                        dates[dateLabel].total++;
                        var endDate;
                        var endDatemm;
                        var endDatedd;
                        var endDateLabel;
                        if (this.bot.type === "adaptation") {
                            if (el.answers.status === "Прошел адаптацию") {
                                    endDate = new Date(el.createdon);
                                    endDatemm = endDate.getMonth() + 1;
                                    endDatedd = endDate.getDate();

                                    endDateLabel = [
                                            endDatedd,
                                            endDatemm
                                            ].join('.');

                                    if (!endDates[endDateLabel]) {
                                        endDates[endDateLabel] = {'total': 0, 'done': 0, 'middle': 0}
                                    }

                                    endDates[endDateLabel].total++
                            }
                        } else if ((this.bot._id !== "5fe9c299d330e931b11b8518" && el.createdon && Object.keys(filteredAnswers).length >= this.bot.columns.length - 3) || el.answers.date) {
                            endDate = new Date(el.createdon);
                            endDatemm = endDate.getMonth() + 1;
                            endDatedd = endDate.getDate();

                            endDateLabel = [
                                    endDatedd,
                                    endDatemm
                                    ].join('.');

                            if (!endDates[endDateLabel]) {
                                endDates[endDateLabel] = {'total': 0, 'done': 0, 'middle': 0}
                            }

                            endDates[endDateLabel].total++
                        }

                        if (el.answers.hr) {
                            if (!hrs[el.answers.hr]) {
                                hrs[el.answers.hr] = {'total': 0, 'done': 0, 'middle': 0}
                            }
                            console.log(el.answers.status, el.answers.hr, el.answers.status === "Уволен на адаптации");
                            if (el.answers.status === "Уволен на адаптации" && this.bot.type === "adaptation") {
                                hrs[el.answers.hr].total++;
                            }
                            if (this.bot.type === "podbor") {
                                hrs[el.answers.hr].total++;
                            }
                        }
                        if (el.answers.department) {
                            if (!departments[el.answers.department]) {
                                departments[el.answers.department] = {'total': 0, 'done': 0, 'middle': 0}
                            }
                            if (el.answers.status === "Уволен на адаптации") {
                                departments[el.answers.department].total++;
                            }
                        }
                        if (!statuses[el.answers.status] && el.answers.status) {
                            if (el.answers.status !== "") {
                                statuses[el.answers.status] = 0
                            }
                        }

                        statuses[el.answers.status]++;

                        if (filteredAnswers.education || (this.bot._id === "5fe9c299d330e931b11b8518" && el.name)) {
                            middleCount++;
                            months[monthName].middle++;
                            if (el.answers.hr) {
                                hrs[el.answers.hr].middle++;
                            }
                            if (el.answers.department) {
                                departments[el.answers.department].middle++;
                            }

                            endDate = new Date(el.createdon);
                            endDatemm = endDate.getMonth() + 1;
                            endDatedd = endDate.getDate();

                            var middleDateLabel = [
                                    endDatedd,
                                    endDatemm
                                    ].join('.');

                            if (!middleDates[middleDateLabel]) {
                                middleDates[middleDateLabel] = {'total': 0, 'done': 0, 'middle': 0}
                            }
                            middleDates[middleDateLabel].total++
                        }
                        if (this.bot.type === "adaptation") {
                            if (el.answers.status === "Прошел адаптацию") {
                                    doneCount++;
                                    months[monthName].done++;
                                    if (el.answers.hr) {
                                        hrs[el.answers.hr].done++;
                                    }
                                    if (el.answers.department) {
                                        departments[el.answers.department].done++;
                                    }
                            }
                        } else if ((this.bot._id !== "5fe9c299d330e931b11b8518" && Object.keys(filteredAnswers).length >= this.bot.columns.length - 3) || el.answers.date) {
                                doneCount++;
                                months[monthName].done++;
                                if (el.answers.hr) {
                                    hrs[el.answers.hr].done++;
                                }
                                if (el.answers.department) {
                                    departments[el.answers.department].done++;
                                }
                        }
                    })



                    var monthsValues = [];
                    var monthsList = Object.keys(months);
                    var monthTotals = [];
                    var monthMiddles = [];
                    var monthDones = [];
                    monthsList.forEach((month, i) => {
                        monthTotals.push(months[month].total);
                        monthMiddles.push(months[month].middle);
                        monthDones.push(months[month].done);

                        monthsValues.push(months[month].total)
                    })

                    // console.log("MONTHS", months, monthsList, monthsValues);

                    var monthsData = {
                        labels: monthsList,
                            datasets: [{
                            label: "Новых",
                            backgroundColor: "#ff0000",
                            data: monthTotals
                            },
                            {
                            label: "Дошедших до середины",
                            backgroundColor: "#ffff00",
                            data: monthMiddles
                            },
                            {
                            label: "Завершивших",
                            backgroundColor: "#00b050",
                            data: monthDones
                            }]
                    }

                    this.graphs[0].push({data: monthsData, title: "Количество пользователей в разрезе каждого месяца ", type: 'bar'});

                    var statusesValues = [];
                    var statusesList = Object.keys(statuses);

                    var voronkaLables = [['Количество согласованных', 'рекрутером'], ['Количество пришедших', 'на собеседование'], ['Количество приглашенных', 'на собеседование'], 'Количество прошедших бот', 'Количество зашедших в бот'];
                    var voronkaValues = [];

                    statusesList.forEach((status, i) => {
                        // statusesList[i] = [status];
                        voronkaValues = [(statuses['Согласован'] || 0),
                        (statuses['Согласован'] || 0)+(statuses['Отказ'] || 0),
                        (statuses['Согласован'] || 0)+(statuses['Приглашен'] || 0)+(statuses['Не пришел'] || 0)+(statuses['Отказ'] || 0),
                        doneCount,
                        this.chats.length];

                        statusesValues.push(statuses[status])
                    })

                    var statusesData = {
                        labels: voronkaLables,
                            datasets: [{
                            label: "Собеседников",
                            backgroundColor: ["#00b050", "#92d050", "#ffff00", "#ffc000", "#ff0000"],
                            data: voronkaValues
                            }]
                    }

                    // console.log(statusesData);
                    // console.log(this.bot.type);
                    if (this.bot.type === "podbor") {
                        this.graphs[1].push({data: statusesData, title: "Воронка найма по форме", type: 'horizontal'});
                    } else {
                        var adaptationData = {
                            labels: ['1 месяц', '3 неделя', '2 неделя', '5 день', '4 день', '3 день', '2 день', '1 день', '0 день'],
                            datasets: [{
                            label: "Собеседников",
                            backgroundColor: ["#000303", "#012221", "#024f6e", "#177983", "#0f9acb", "#31b7f3", "#80c6d6", "#b4dce6", "#c3e0e7", "#daeef3"],
                            data: [20, 30, 35, 40, 50, 55, 58, 65, 70, 74]
                            }]
                        }
                        this.graphs[1].push({data: adaptationData, title: "Воронка адаптации", type: 'horizontal'});
                    }

                    var datesList = [];
                    var datesArr = Object.keys(dates);
                    var datesValuesNew = [];
                    var datesValuesDone = [];
                    var datesValuesMiddle = [];
                    var daysInMonth = getDaysInMonth(todayMonth, todayYear, this.dateFrom, this.dateTo);

                    daysInMonth.forEach((day) => {
                        datesList.push((day.getDate())+"."+(day.getMonth()+1))
                    })

                    // console.log(daysInMonth);
                    console.log('ENDDATES', endDates);
                    datesList.forEach((date, i) => {
                        // console.log(date, dates[date], endDates[date]);
                        if (dates[date]) {
                            datesValuesNew.push(dates[date].total)
                        } else {
                            datesValuesNew.push(0);
                        }
                        if (endDates[date]) {
                            datesValuesDone.push(endDates[date].total)
                        } else {
                            datesValuesDone.push(0);
                        }
                        if (middleDates[date]) {
                            datesValuesMiddle.push(middleDates[date].total);
                        } else {
                            datesValuesMiddle.push(0);
                        }

                        // console.log(date, middleDates[date], endDates[date]);
                    })
                        var datesData = {
                            labels: datesList,
                            datasets: [{
                                data: datesValuesNew,
                                label: "Новых",
                                backgroundColor: "#ff0000"
                            },
                            {
                                data: datesValuesMiddle,
                                label: "Дошедших до середины",
                                backgroundColor: "#ffff00"
                            },
                            {
                                data: datesValuesDone,
                                label: "Завершивших",
                                backgroundColor: "#00b050"
                            }]
                        }
                        this.graphs[0].push({data: datesData, title: "Количество пользователей в разрезе каждого дня ", type: 'bar'});

                    var updatedData = this.totalChartData;

                    updatedData.datasets[0].data[0] = this.chats.length;
                    updatedData.datasets[0].data[1] = doneCount;

                    var hrsLables = Object.keys(hrs);

                    var hrsValues = [];

                    // this.graphs[0].push({data: updatedData, title: 'Количество прошедших бота', type: 'pie'});
                    for (var hr in hrs) {
                        hrsValues.push(hrs[hr].total);
                        var hrsData = {
                            labels: [
                                'Непрошедшие до конца', 'Прошедшие'
                            ],
                            datasets: [{
                                data: [hrs[hr].total, hrs[hr].done],
                                backgroundColor: ["#ff0000", "#00b050", "#00b050"]
                            }]
                        }
                        if (this.bot.type !== "podbor") {
                            this.graphs[3].push({data: hrsData, title: hr, type: 'pie'});
                        }
                    }
                    if (this.bot.type === "podbor") {
                        this.graphs[2].push({
                            data: {
                            labels: hrsLables,
                            datasets: [{
                                data: hrsValues,
                                backgroundColor: ["#ff0000", "#ffff00", "#00b050"]
                            }]
                        },
                        title: 'Загруженность рекрутеров',
                        type: 'pie'
                        });
                    }
                    // console.log('DEPARTMENTS', departments);
                    for (var department in departments) {
                        var departmentData = {
                            labels: [
                                'Непрошедшие до конца', 'Прошедшие'
                            ],
                            datasets: [{
                                data: [departments[department].total, departments[department].done],
                                backgroundColor: ["#ff0000", "#00b050", "#00b050"]
                            }]
                        }
                        this.graphs[2].push({data: departmentData, title: department, type: 'pie'});
                    }
                    var departmentsList = Object.keys(departments);
                    var departmentsTotal = [];
                    departmentsList.forEach(function(el) {
                        departmentsTotal.push(departments[el].done);
                    })
                    var departmentsTotalData = {
                            labels: departmentsList,
                            datasets: [{
                                data: departmentsTotal,
                                backgroundColor: ["#ff0000", "#00b050", "#00b050"]
                            }]
                        }
                        if (this.bot.type === "adaptation") {
                            this.graphs[2].push({data: departmentsTotalData, title: "Прошедшие адаптацию", type: 'pie'});
                        }


                    // console.log('MOODS', moodsList);

                    var moodPeriods = [];
                    var moodValues = [];
                    var moodColors = ["#00b050", "#ffff00", "#ff0000"]
                    var moodData = {};
                    var moodSet = [];

                    if (moodsList) {
                        for (var period in moodsList) {
                            moodPeriods.push(period);
                            for (var moodValue in moodsList[period]) {
                                if (!moodValues.includes(moodValue)) {
                                    moodValues.push(moodValue);
                                }
                            }
                        }

                        moodPeriods.forEach((period) => {
                            moodValues.forEach((mood) => {
                                if (!moodData[mood]) {
                                    moodData[mood] = []
                                }
                                if (moodsList[period][mood]) {
                                    moodData[mood].push(moodsList[period][mood]);
                                } else {
                                    moodData[mood].push(0);
                                }
                            })
                        })
                        var cI = 0;
                        for (var mood in moodData) {
                            moodSet.push({
                                label: mood,
                                data: moodData[mood],
                                backgroundColor: moodColors[cI]
                            })
                            cI++;
                        }

                        // console.log(moodData);
                        if (this.bot.type === "adaptation") {
                            console.log(moodSet);
                            /*
                            this.graphs[3].push({
                                data: {
                                labels: moodPeriods,
                                datasets: moodSet
                            },
                            title: "Обратная связь по компании в целом",
                            type: 'bar'
                            });
                            */
                           this.graphs[4].push({
                                data: {
                                labels: ['1 день', '3 день', '5 день', '2 неделя', '3 неделя', '1 месяц'],
                                datasets: [
                                    {
                                        label: 'Круто',
                                        data: [50, 50, 40, 40, 30, 30],
                                        backgroundColor: "#00b050"
                                    },
                                    {
                                        label: 'Неплохо',
                                        data: [30, 35, 50, 45, 45, 40],
                                        backgroundColor: "#ffff00"
                                    },
                                    {
                                        label: 'Так себе',
                                        data: [20, 15, 0, 10, 25, 30],
                                        backgroundColor: "#ff0000"
                                    }
                                ]
                            },
                            title: "Обратная связь по компании в целом",
                            type: 'bar'
                            });
                        }
                    }
                }
            })
        },
        openChat(chatId) {
          this.$router.replace({ path: '/chat/'+chatId });
        },
        sort(s) {
            // if s == current sort, reverse
            if(s === this.currentSort) {
                this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
            }
            this.currentSort = s;
        },
        filterUpdate() {
            var filter = {};
            for (var param in this.answers) {
                if (this.answers[param].length) {
                    filter['answers.'+param] = this.answers[param];
                }
            }

            filter.query = this.query;

            this.$axios.post('/api/filter/'+this.botId, filter)
            .then((response) => {
                if (response.data.success) {
                    this.chats = response.data.result;
                }
            })
        },
        getOptions() {
            this.$axios.get('/api/filter/values/'+this.botId)
            .then((response) => {
                if (response.data.success) {
                    this.options = response.data.result;
                    // console.log(this.options);
                }
            })
        },
        getTexts() {
            this.$axios.get('/api/text/list?botId='+this.botId)
            .then((response) => {
                this.texts = response.data.result;
            })
        },
        addText() {
            this.$axios.post('/api/text/add', {'key': "", "value": "", "botId": this.botId})
            .then((response) => {
                this.texts.push(response.data.result);
            })
        },
        deleteText(id) {
            this.$axios.post('/api/text/delete', {id})
            .then((response) => {
                this.getTexts();
            })
        },
        textUpdate(id, key, value) {
            this.textsStatus = "Сохранение изменений...";
            this.$axios.post('/api/text/update', {id, key, value})
            .then((response) => {
                this.textsStatus = "Все изменения сохранены";
            })
        }
    }
}
</script>