<template>
    <div>
        <div class="cloud">
            <div class="chat-header">
                <div class="chat-header__photo"></div>
                <div class="chat-header__name">{{ chat.name }}</div>
            </div>
            <div class="messages" v-if="messages !== null">
                <div class="messages-list" v-if="messages.length">
                    <div class="messages__item" v-for="message in messages" :key="message._id">
                        <div class="message-meta">
                            <div class="message-meta__name" v-if="!message.out">
                                <span v-if="chat.name">
                                        {{ chat.name.split(' ')[0] }}
                                </span>
                                <span v-else>
                                        Без имени
                                </span>
                            </div>
                            <div class="message-meta__name" v-else>
                                Бот
                            </div>
                            <div class="message-meta__date">
                                {{ $moment(new Date(message.createdon)).format("DD.MM.YYYY, HH:mm") }}
                            </div>
                        </div>
                        <div class="message-body">
                            {{ message.text }}
                        </div>
                    </div>
                </div>
                <p v-else>В этом чате нет сообщений</p>
            </div>
            <div class="preloader" v-else>
                <img src="/img/91.svg" alt="">
            </div>
        </div>
    </div>
</template>
<script>
export default {
    asyncData({ params }) {
      const chatId = params.chatid // When calling /abc the slug will be "abc"
      return { chatId }
    },
    data() {
        return {
            chat: {},
            messages: null
        }
    },
    created() {
        this.$store.commit('setTitle', 'Диалог');
    },
    mounted() {
      this.getChat();
      this.getMessages();
    },
    head() {
      return {
            title: "Диалог",
        }
    },
    methods: {
        getChat() {
            this.$axios.get('/api/chat/get?id='+this.chatId)
            .then((response) => {
                if (response.data.success) {
                    this.chat = response.data.result;
                }
            })
        },
        getMessages() {
            this.$axios.get('/api/messages/list/'+this.chatId)
            .then((response) => {
                if (response.data.success) {
                    this.messages = response.data.result;
                }
            })
        }
    }
}
</script>