body {
    background: #F7F8FC;
    color: #252733;
}
.sidebar {
    max-width: 255px;
    width: 20%;
    background: #363740;
    padding-top: 41px;
    padding-bottom: 60px;
    flex-shrink: 0;
}

.wrapper {
    display: flex;
}

.sidebar__nav > ul > li > a {
    color: #A4A6B3;
    padding-top: 18px;
    padding-bottom: 18px;
    display: block;
    padding-left: 32px;
    padding-right: 15px;
}

.sidebar__nav > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar-text {
    font-weight: bold;
    font-size: 19px;
    color: #A4A6B3;
    opacity: 0.7;
    display: inline-block;
    vertical-align: top;
}

.sidebar-image {
    width: 32px;
    height: 32px;
    background: #838490;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.sidebar-logo {
    padding-left: 32px;
    margin-bottom: 59px;
}

.sidebar__nav > ul > li {
}

.sidebar__nav > ul > li > a:hover {
    text-decoration: none;
    background: rgb(159 162 180 / 14%);
    color: #DDE2FF;
}
.main-page {
    flex-grow: 1;
    padding: 30px;
    padding-top: 36px;
    min-height: 100vh;
}
.main-page__title {
    font-size: 24px;
    font-weight: bold;
    flex-grow: 1;
}

.main-page__header {
    display: flex;
}

.header-profile__name {
    font-weight: 600;
    font-size: 14px;
    color: #363740;
}

.header-profile__image {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    border: 1.5px solid #DFE0EB;
    margin-left: 14px;
    background-color: #363740;
}

.header-profile {
    display: flex;
    align-items: center;
}
.header-profile > a {
    display: flex;
    align-items: center;
    color: #252733;
}
.page__inner {
    padding-top: 54px;
}
.btn-primary {
    background: #29CC97;
}
.btn-warning {
    color: #fff;
    background: #cc7029;
}

.btn {
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled):active {
    background: #18b07e;
    box-shadow: none;
}
.sidebar__nav > ul > li > a.active {
    text-decoration: none;
    background: rgb(159 162 180 / 14%);
    color: #DDE2FF;
    position: relative;
}

.sidebar__nav > ul > li > a.active:after {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #DDE2FF;
    width: 3px;
    content: '';
}
.cloud {
    background: #FFFFFF;
    padding: 32px;
    border-radius: 8px;
    border: 1px solid #DFE0EB;
}
h2 {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 20px;
}
.create-user-form {
    margin-bottom: 70px;
}
.stat-card {
    text-align: center;
}

.card {
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #DFE0EB;
    transition: 0.2s;
    margin-bottom: 30px;
}

.stat-card__title {
    color: #9FA2B4;
    font-weight: bold;
    font-size: 19px;
}

.stat-card__value {
    font-size: 40px;
    font-weight: bold;
    color: #252733;
    line-height: 1;
}

.card:hover {
    border: 1px solid #3751FF;
    box-shadow: 0px 0px 0px 2px #DDE2FF;
}
.badge-success {
    background-color: #29cc97;
}

.badge {
    text-transform: uppercase;
    border-radius: 8px;
    letter-spacing: 0.5px;
    padding: 6px 10px;
}
.add-card {
    background: transparent;
    border: 2px solid #DFE0EB;
    text-align: center;
    color: #797e99;
    cursor: pointer;
}

.add-card:hover {
    border: 2px solid #363740;
    color: #797e99;
    box-shadow: none;
}
td select, td input {
    outline: none;
    border: 1px solid #ededed;
    padding: 1px 3px;
}
.sidebar.sidebar-closed {
    max-width: 60px;
}

.sidebar-closed .sidebar__nav {
    display: none;
}

.sidebar-closed .sidebar-logo {
    padding-left: 11px;
    cursor: pointer;
}

.sidebar-closed .sidebar-logo .sidebar-text {
    font-size: 10px;
}
.company-card__title {
    font-size: 19px;
    line-height: 1.3;
    letter-spacing: 0.4px;
    font-weight: bold;
}
.company-card__controls {
    margin-top: 30px;
}
.company-card {
    cursor: pointer;
}
.table thead th {color: #9FA2B4;border-bottom: none; cursor: pointer;}

.chat-name {
    font-weight: bold;
    color: #252733;
    line-height: 1.2;
}

.chat-photo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #363740;
    margin-right: 10px;
    flex-shrink: 0;
    position: relative;
}

.chat-meta {
    display: flex;
    align-items: flex-start;
}

.chat-date {
    font-size: 12px;
    color: #C5C7CD;
}

.table {
    font-size: 14px;
    max-width: 100%;
    overflow: auto;
}
tbody > tr:hover {
    background: #F7F8FF;
    cursor: pointer;
}

tbody > tr {
    transition: 0.2s;
}
.form-inline > .form-group+.form-group {
    margin-left: 15px;
}

.filter {
    margin-bottom: 30px;
}
.form-inline > .form-group+.form-group {
    margin-left: 15px;
}

.filter {
    margin-bottom: 30px;
}

.filter__title {
    font-size: 18px;
    color: #9FA2B4;
    margin-bottom: 15px;
    font-weight: bold;
}
.table thead th.active {
    color: #363740;
}
.form-inline label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

.form-inline .form-group {flex-flow: column;align-items: flex-start;}

.play-video {
    display: inline-block;
    padding: 5px 9px;
    color: #fff;
    background: #363740;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.search {
    margin-bottom: 25px;
}
.chat-header__photo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #363740;
    margin-right: 10px;
}

.chat-header__name {
    font-size: 19px;
    font-weight: bold;
}

.chat-header {
    display: flex;
}

.messages {
    margin-top: 30px;
}

.message-meta {
    margin-bottom: 7px;
}

.message-meta__name {
    font-weight: bold;
    line-height: 1.2;
}

.message-meta__date {
    font-size: 12px;
    color: #C5C7CD;
}

.messages__item {
    margin-bottom: 15px;
}

.message-body {
    line-height: 1.2;
}
.bot-controls {
    margin-bottom: 30px;
}

.btn.btn-sm {
    font-size: 11px;
    padding: 6px 11px;
}
.texts-control {
    margin-bottom: 10px;
    margin-top: 10px;
}
.texts-status {
    font-size: 12px;
    margin-bottom: 15px;
    color: #9f9f9f;
}
.graph__title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.bot-stats {
    display: flex;
    flex-wrap: wrap;
}

.graph-wrapp {
    width: 32%;
    margin-bottom: 30px;
}
.column-item {
    padding-right: 30px;
    position: relative;
}

.column-sort {
    position: absolute;
    right: 0;
    top: 29px;
}

.column-sort__up {
    cursor: pointer;
    transition: 0.2s;
}

.column-sort__down {
    cursor: pointer;
    transition: 0.2s;
}
.column-sort__up:hover {
    color: #2b2b71;
}

.column-sort__down:hover {
    color: #2b2b71;
}
.not-active {
    background: #c82e2e;
    padding: 30px;
    margin-top: 30px;
    border-radius: 14px;
    color: #fff;
    font-size: 18px;
}
.chat-emoji table tr {
    padding: 0;
}

.chat-emoji table tr td {
    padding: 1px 1px;
}

.chat-emoji {
    margin-top: 10px;
    font-size: 12px;
}
.chat-emoji tr:last-child {
    background: #f8f8f8;
    font-weight: bold;
}
.preloader {
    padding: 15px;
}

.preloader img {
    width: 30px;
}
@media only screen and (max-width : 768px) {
    .sidebar {
        position: fixed;
        z-index: 99999;
        width: 100%;
        max-width: none;
        bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .sidebar-logo {
        display: none;
    }
    .graph-wrapp {
        width: 100%;
    }
    .sidebar__nav > ul {
        display: flex;
    }
    
    .sidebar__nav > ul > li > a.active:after {
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 3px;
    }
    
    .sidebar__nav > ul > li > a {
        padding: 12px 6px;
        font-size: 12px;
    }
    
    .sidebar__nav > ul > li {
        flex-grow: 1;
        text-align: center;
    }
    
    .card {
        margin-bottom: 20px;
    }
    .table {
        max-width: 100%;
        position: relative;
        overflow: auto;
        /* width: 100%; */
        display: block;
    }
    
    .main-page {
        max-width: 100%;
    }
    
    .table tbody {
    }
    
    .cloud {
        padding: 22px;
    }
    
    .page__inner {
        padding-top: 30px;
    }
    
    .main-page__title {
        font-size: 16px;
    }
    
    .header-profile__image {
        display: none;
    }
    
    .header-profile > a {
        padding: 0;
        line-height: 1.2;
    }
    
    .header-profile {
        align-items: flex-start;
    }
    
    .main-page {
        padding: 20px;
    }
    .form-inline > .form-group+.form-group {
        margin-left: 0;
    }
    
    .chat-photo {
        flex-shrink: 0;
    }
    
    .table {
        font-size: 12px;
    }
}
.bot-stats__date .btn {
    margin-top: 32px;
    padding: 10px 30px;
}
.unique-dot {
    position: absolute;
    top: -6px;
    right: -4px;
    display: block;
    width: 19px;
    height: 19px;
    background: url(/img/bell.svg);
    z-index: 2;
    border-radius: 50%;
    background-size: cover;
}
.graph-wrapp+.graph-wrapp {
    margin-left: 30px;
}
@media only screen and (max-width : 1600px) {
    .graph-wrapp {
        width: 48%;
    }
    .graph-wrapp:nth-child(2n+1) {
        margin-left: 0;
    }
}
/*
.graph-wrapp > div, .graph-wrapp {
    overflow: auto;
  }
canvas
{
    width: 100% !important;
}
*/