<template>
  <div>
    <div class="wrapper">
      <aside class="sidebar" v-if="$auth.loggedIn" :class="{ 'sidebar-closed': !sidebar }">
        <div class="sidebar-logo" @click="toggleSidebar">
          <div class="sidebar-image"></div>
          <div class="sidebar-text">
            РАЗ-ДВА-ТРИ
          </div>
        </div>
        <nav class="sidebar__nav">
          <ul>
            <li v-if="$auth.user.email == 'info@raz--dva--tri.ru' || $auth.user.email == 'grishajoi@gmail.com'"><nuxt-link to="/" exact-active-class="active">Дашборд</nuxt-link></li>
            <li><nuxt-link to="/bots" exact-active-class="active">Боты</nuxt-link></li>
            <li v-if="$auth.user.email == 'info@raz--dva--tri.ru' || $auth.user.email == 'grishajoi@gmail.com'"><nuxt-link to="/clients" exact-active-class="active">Клиенты</nuxt-link></li>
            <li v-if="$auth.user.email == 'info@raz--dva--tri.ru' || $auth.user.email == 'grishajoi@gmail.com'"><nuxt-link to="/access" exact-active-class="active">Контроль доступа</nuxt-link></li>
            <li><nuxt-link to="/help" exact-active-class="active">Помощь</nuxt-link></li>
            <li><a href="#" @click="toggleSidebar">Скрыть</a></li>
          </ul>
        </nav>
      </aside>
      <main class="main-page">
        <header class="main-page__header">
          <h1 class="main-page__title">
            {{ $store.state.title }}
          </h1>
          <div class="header-profile" v-if="$auth.loggedIn">
            <nuxt-link to="/user/logout" class="nav-link" exact-active-class="active">
              <div class="header-profile__name">
                {{ $auth.user.full_name }}
              </div>
              <div class="header-profile__image"></div>
            </nuxt-link>
          </div>
        </header>
        <div class="not-active" v-if="user._id && !user.active">
          <div class="not-active__sign">
            Ваш аккаунт временно заблокирован
          </div>
        </div>
        <div class="page__inner" v-else>
          <nuxt />
        </div>
      </main>
    </div>
  </div>
</template>
<script>
export default {
  middleware: 'auth',
  data() {
    return {
      user: {},
      sidebar: true
    }
  },
  created() {
    if (!this.$auth.loggedIn && this.$route.path !== "/user/login") {
      this.$router.replace({ path: '/user/login' });
    } else {
      this.$axios.get('/api/users/user')
            .then((response) => {
                this.user = response.data.user;
            })
    }
  },
  methods: {
    toggleSidebar() {
      this.sidebar = !this.sidebar;
      if (window.updateGraphs) {
        window.updateGraphs();
      }
      return false;
    }
  }
}
</script>