<template>
  <div>
    <div class="cloud">
        <h2>Создать пользователя</h2>
        <div class="row">
            <div class="col-md-6">
                <form action=""
                method="post"
                @submit.prevent="submitForm()"
                class="create-user-form"
                autocomplete="off">
                <div class="form-group">
                    <input type="text" placeholder="Полное имя" autocomplete="off" class="form-control"
                    :class="{ 'is-invalid': errors && errors.full_name }"
                    v-model="full_name">
                    <div class="invalid-feedback" v-if="errors && errors.full_name">
                    {{ errors.full_name.msg }}
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" placeholder="Email" onfocus="this.removeAttribute('readonly');" readonly autocomplete="off" class="form-control"
                    v-model="email"
                    :class="{ 'is-invalid': errors && errors.email }">
                    <div class="invalid-feedback" v-if="errors && errors.email">
                    {{ errors.email.msg }}
                    </div>
                </div>

                <div class="form-group">
                    <input type="password" placeholder="Пароль" onfocus="this.removeAttribute('readonly');" readonly autocomplete="off" class="form-control"
                    :class="{ 'is-invalid': errors && errors.password }"
                    v-model="password">
                    <div class="invalid-feedback" v-if="errors && errors.password">
                    {{ errors.password.msg }}
                    </div>
                </div>
                <div class="form-group">
                    <select v-model="companyId" class="form-control">
                      <option value="" disabled selected>Выберите компанию</option>
                      <option :value="company._id" v-for="company in companies" :key="company._id">{{ company.name }}</option>
                    </select>
                </div>

                <input type="submit" value="Добавить" class="btn btn-primary mr-3">
                </form>
            </div>
        </div>
        <h2>Пользователи</h2>
        <div class="users-list">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Информация
                        </th>
                        <th>
                            Компания
                        </th>
                        <th>
                            Права доступа
                        </th>
                        <th>
                          Действия
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users" :key="user._id">
                        <td>
                            {{ user.full_name }} ({{ user.email }})
                        </td>
                        <td>
                          <span v-if="user.companyId">
                            {{ user.companyId.name }}
                          </span>
                          <span v-else>
                            РАЗ-ДВА-ТРИ
                          </span>
                        </td>
                        <td>
                            <span v-if="!user.companyId" class="badge badge-success">
                                Администратор
                            </span>
                        </td>
                        <td>
                          <button class="btn btn-primary btn-sm" v-if="user.active" @click="deactivateUser(user._id)">Заблокировать</button>
                          <button class="btn btn-primary btn-sm" v-else @click="activateUser(user._id)">Разблокировать</button>
                          <button class="btn btn-danger btn-sm" @click="deleteUser(user._id)">Удалить</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  created() {
      this.$store.commit('setTitle', 'Контроль доступа');
  },
  data(){
    return{
      errors:null,
      full_name:null,
      email:null,
      password:null,
      status:false,
      companyId:"",
      users: [],
      companies: []
    }
  },
    head() {
      return {
            title: "Контроль доступа",
        }
    },
  mounted() {
      this.getUsers();
      this.getCompanies();
  },
  methods:{
    deleteUser(id) {
      this.$axios.get('/api/users/remove?id='+id)
        .then((response) => {
            this.getUsers();
        })
    },
    activateUser(id) {
      this.$axios.get('/api/users/activate?id='+id)
        .then((response) => {
            this.getUsers();
        })
    },
    deactivateUser(id) {
      this.$axios.get('/api/users/deactivate?id='+id)
        .then((response) => {
            this.getUsers();
        })
    },
    getUsers() {
        this.$axios.get('/api/users/list')
        .then((response) => {
            this.users = response.data.users;
        })
    },
    getCompanies() {
      this.$axios.get('/api/company/list')
        .then((response) => {
            this.companies = response.data.result;
        })
    },
    submitForm(){
      this.$axios.post( '/api/users/register', {
          full_name: this.full_name,
          email: this.email,
          password: this.password,
          companyId: this.companyId
        })
        .then((response) => {
          console.log(response)
          if(response.data._id){
            window.location.reload();
            // this.$router.push({ name:'user-login', params:{ registered:'yes' } })
            // log in if successfully registered
            /*
            this.$auth.loginWith('local', {
                data: {
                  email: this.email,
                  password: this.password
                }
              })
              .catch( (error) => {
                console.log(error)
              })
            */
          }
        })
        .catch( (error) => {
          console.log(error)
          if(error.response.data.errors){
            this.errors = error.response.data.errors
          }
        });
    }
  }
}
</script>
