<template>
    <div>
        <div class="clients-list">
            <div class="row" v-if="bots != null">
                <div class="col-md-3" v-for="bot in bots" :key="bot._id">
                    <div class="card company-card">
                        <div class="company-card__title" @click="openChat(bot._id);">
                            {{ bot.name }}
                        </div>
                        <div class="company-card__controls" v-if="$auth.user.email == 'info@raz--dva--tri.ru' || $auth.user.email == 'grishajoi@gmail.com'">
                            <button class="btn btn-primary btn-sm" @click="editBot(bot._id)">Редактировать</button><button class="btn btn-danger btn-sm" @click="deleteCompany(bot._id)">Удалить</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card add-card" @click="openModal" v-if="$auth.user.email == 'info@raz--dva--tri.ru' || $auth.user.email == 'grishajoi@gmail.com'">
                        <div class="add-card__text">
                            Добавить бота
                        </div>
                    </div>
                </div>
            </div>
            <div class="preloader" v-else>
                <img src="/img/91.svg" alt="">
            </div>
        </div>
        <b-modal id="addBotModal" hide-footer title="Добавить бота">
            <form action="#" @submit="addBot">
                <div class="form-group">
                    <input type="text" v-model="name" placeholder="Название бота" class="form-control">
                </div>
                <div class="form-group">
                    <select v-model="type" class="form-control">
                        <option value="" disabled selected>Выберите тип бота</option>
                        <option value="adaptation">На адаптацию</option>
                        <option value="podbor">На подбор</option>
                    </select>
                </div>
                <div class="form-group">
                    <select v-model="companyId" class="form-control">
                        <option value="" disabled selected>Выберите компанию</option>
                        <option v-for="company in companies" :key="company._id" :value="company._id">{{ company.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Добавить</button>
                </div>
            </form>
        </b-modal>
        <b-modal id="editBotModal" hide-footer title="Редактировать бота">
            <form action="#" @submit="saveBot">
                 <input type="hidden" v-model="editid">
                <div class="form-group">
                    <input type="text" v-model="name" placeholder="Название бота" class="form-control">
                </div>
                <div class="form-group">
                    <select v-model="type" class="form-control">
                        <option value="" disabled selected>Выберите тип бота</option>
                        <option value="adaptation">На адаптацию</option>
                        <option value="podbor">На подбор</option>
                    </select>
                </div>
                <div class="form-group">
                    <select v-model="companyId" class="form-control">
                        <option value="" disabled selected>Выберите компанию</option>
                        <option v-for="company in companies" :key="company._id" :value="company._id">{{ company.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Редактировать</button>
                </div>
            </form>
        </b-modal>
    </div>
</template>
<script>
export default {
    data() {
        return {
            name: '',
            bots: null,
            companies: [],
            type: '',
            companyId: '',
            editid: ''
        }
    },
    head() {
      return {
            title: "Все боты",
        }
    },
    created() {
        this.$store.commit('setTitle', 'Боты');
    },
    mounted() {
        history.replaceState(
            {},
            null,
            this.$route.path
        );
        this.getBots();
        this.getCompanies();
    },
    methods: {
        openChat(botId) {
            this.$router.push({ path: '/bot/'+botId });
        },
        openModal() {
            this.$root.$emit("bv::show::modal", "addBotModal");
        },
        editBot(id, e) {
            this.$axios.get('/api/bot/get?id='+id)
            .then((response) => {
                if (response.data.success) {
                    var editbot = response.data.result;

                    this.editid = editbot._id;
                    this.name = editbot.name;
                    this.companyId = editbot.companyId;
                    this.type = editbot.type;

                    this.$root.$emit("bv::show::modal", "editBotModal");
                }
            });

            return false;
        },
        addBot(e) {
            e.preventDefault();

            this.$axios.post('/api/bot/add', {name: this.name, companyId: this.companyId, type: this.type})
            .then((response) => {
                if (response.data.success) {
                    this.name = '';
                    this.type = '';
                    this.companyId = '';
                    this.getBots();
                    this.$root.$emit("bv::hide::modal", "addBotModal");
                }
            })
        },
        saveBot(e) {
            e.preventDefault();

            this.$axios.post('/api/bot/update', {_id: this.editid, name: this.name, companyId: this.companyId, type: this.type})
            .then((response) => {
                if (response.data.success) {
                    this.editid = '';
                    this.name = '';
                    this.type = '';
                    this.companyId = '';
                    this.getBots();
                    this.$root.$emit("bv::hide::modal", "editBotModal");
                }
            })
        },
        getBots() {
            this.$axios.get('/api/bot/list')
            .then((response) => {
                if (response.data.success) {
                    this.bots = response.data.result;
                }
            })
        },
        getCompanies() {
            this.$axios.get('/api/company/list')
            .then((response) => {
                if (response.data.success) {
                    this.companies = response.data.result;
                }
            })
        },
        deleteCompany(id) {
            this.$axios.post('/api/bot/delete', {id})
            .then((response) => {
                if (response.data.success) {
                    this.getCompanies();
                }
            })
        }
    }
}
</script>