<template>
    <div>
        <div class="clients-list">
            <div class="row">
                <div class="col-md-3" v-for="company in companies" :key="company._id">
                    <div class="card company-card">
                        <div class="company-card__title">
                            {{ company.name }}
                        </div>
                        <div class="company-card__controls">
                            <button class="btn btn-danger btn-sm" @click="deleteCompany(company._id)">Удалить</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card add-card" @click="openModal">
                        <div class="add-card__text">
                            Добавить компанию
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="addCompanyModal" hide-footer title="Добавить компанию">
            <form action="#" @submit="addCompany">
                <div class="form-group">
                    <input type="text" v-model="name" placeholder="Название компании" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Добавить</button>
                </div>
            </form>
        </b-modal>
    </div>
</template>
<script>
export default {
    data() {
        return {
            name: '',
            companies: []
        }
    },
    created() {
        this.$store.commit('setTitle', 'Компании');
    },
    mounted() {
        this.getCompanies();
    },
    head() {
      return {
            title: "Компании",
        }
    },
    methods: {
        openModal() {
            this.$root.$emit("bv::show::modal", "addCompanyModal");
        },
        addCompany(e) {
            e.preventDefault();

            this.$axios.post('/api/company/add', {name: this.name})
            .then((response) => {
                if (response.data.success) {
                    this.name = '';
                    this.getCompanies();
                    this.$root.$emit("bv::hide::modal", "addCompanyModal");
                }
            })
        },
        getCompanies() {
            this.$axios.get('/api/company/list')
            .then((response) => {
                if (response.data.success) {
                    this.companies = response.data.result;
                }
            })
        },
        deleteCompany(id) {
            this.$axios.post('/api/company/delete', {id})
            .then((response) => {
                if (response.data.success) {
                    this.getCompanies();
                }
            })
        }
    }
}
</script>