<template>
  <div>
    <div class="cloud">
        <h2>Задать вопрос</h2>
        <form action="#" @submit="sendMessage">
          <div class="form-group">
            <label for="helpName">Имя</label>
            <input type="text" id="helpName" v-model="name" placeholder="Ваше имя" class="form-control">
          </div>
          <div class="form-group">
            <label for="helpEmail">Email для ответа</label>
            <input type="text" id="helpEmail" v-model="email" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <label for="helpText">Ваше сообщение</label>
            <textarea id="helpText" placeholder="Сообщение" v-model="text" class="form-control" cols="30" rows="10"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Отправить</button>
          </div>
        </form>
    </div>
    <b-modal id="sentSuccess" hide-footer title="Сообщение отправлено">
      <div class="sent-success-text">
        {{ name }}, ваше сообщение отправлено.
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  created() {
      this.$store.commit('setTitle', 'Помощь');
  },
  data(){
    return{
      text:"",
      name:"",
      email:""
    }
  },
    head() {
      return {
            title: "Помощь",
        }
    },
  mounted() {
  },
  methods:{
    sendMessage(e) {
      e.preventDefault();
      this.$axios.post('/api/help/send', {name: this.name, email: this.email, text: this.text})
            .then((response) => {
                if (response.data.success) {
                    // this.name = '';
                    this.$root.$emit("bv::show::modal", "sentSuccess");
                    // this.email = '';
                    this.text = '';
                }
            })
    }
  }
}
</script>
