<template>
  <div v-if="$auth.user.email == 'info@raz--dva--tri.ru' || $auth.user.email == 'grishajoi@gmail.com'">
    <div class="card-list row">
      <div class="col-md-3">
        <div class="card stat-card">
          <div class="stat-card__title">
            Ботов
          </div>
          <div class="stat-card__value">
            {{ botCount }}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card stat-card">
          <div class="stat-card__title">
            На адаптации
          </div>
          <div class="stat-card__value">
            {{ adaptationCount }}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card stat-card">
          <div class="stat-card__title">
            Соискателей
          </div>
          <div class="stat-card__value">
            {{ chatCount }}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card stat-card">
          <div class="stat-card__title">
            В ожидании
          </div>
          <div class="stat-card__value">
            0
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  middleware: 'auth',
  created() {
    if (!this.$auth.loggedIn) {
      location.href = "/user/login";
    }
    if (this.$auth.user.email !== 'info@raz--dva--tri.ru' && this.$auth.user.email !== 'grishajoi@gmail.com') {
      location.href = "/bots"
    }
    this.$store.commit('setTitle', 'Дашборд');
  },
  data() {
    return {
      botCount: 0,
      chatCount: 0,
      adaptationCount: 0
    }
  },
  mounted() {
    this.countBots();
    this.countChats();
    this.countAdaptation();
  },
  methods: {
    countBots() {
      this.$axios.get('/api/bot/list')
            .then((response) => {
                if (response.data.success) {
                    this.botCount = response.data.result.length;
                }
            })
    },
    countChats() {
      this.$axios.get('/api/chat/list')
            .then((response) => {
                if (response.data.success) {
                    this.chatCount = response.data.result.length;
                }
            })
    },
    countAdaptation() {
      this.$axios.get('/api/chat/list/5fc7456f70b88e52359aa8c1')
            .then((response) => {
                if (response.data.success) {
                    this.adaptationCount = response.data.result.length;
                }
            })
    }
  }
}
</script>
